.header {
padding-top: 3%;
background: rgb(205, 205, 205);
    .first-line {
        padding: 0 1% 0 1%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h1 {
            font-size: 2.5vw;
        }
    }
}