.burger {
    display: flex;
    flex-direction: column;
    gap: 0.5vh;
    border: 0;
    cursor: pointer;
    background: transparent;

    .bar {
        width: 2vw;
        height: 0.4vh;
        background: black;
    }
}