* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0 15% 0 15%;
    background: rgb(237, 237, 237);
}

ul {
    list-style-type: none;
}

a {
    color: black;
    text-decoration: none;
}